:root {
    --text-color: #666;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
.border-radius-10 {
    border-radius: 10px;
}
.container {
    overflow: hidden;
}
.main {
    background-color: #fafafa;
}

/* Contact */
.contact {
    
}
.contact-list {
    position: fixed;
    bottom: 80px;
    right: 12px;
    z-index: 101;
}
.contact-item {
    margin-top: 14px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.page-up:hover {
    background-color: rgb(26, 131, 230) !important;
}
.contact-desc {
    z-index: 101;
    display: flex;
    flex-direction: column;
}
.contact-desc-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.contact-desc-item.active {
    animation: chuyen ease 1s;
    /* opacity: 1; */
}
.contact-desc-item p {
    display: block;
    line-height: 14px;
    color: red;
    font-size: 15px;
    font-weight: 700px;
    margin-bottom: 0;
}
.contact-desc-item:nth-child(1) p {
    font-weight: 600;
}
.contact-desc-item p:first-child {
    font-size: 13px;
}
.contact-desc-item:nth-child(1) {
    position: fixed;
    bottom: 235px;
    right: 60px;
    z-index: 101;
    width: 110px;
}
.contact-desc-item:nth-child(2) {
    opacity: 0;
    width: 105px;
    position: fixed;
    bottom: 184px;
    right: 60px;
    z-index: 101;
}
.contact-desc-item:nth-child(3) {
    opacity: 0;
    position: fixed;
    bottom: 132px;
    right: 60px;
    z-index: 101;
}
.contact-link {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: red;
}
.contact-link i {
    margin: auto;
}
.contact-link-phone {
    animation: xoay ease 0.5s infinite;
}
.contact-help {
    cursor: pointer;
}
.contact-help-icon {
    display: flex;
    position: fixed;
    bottom: 16px;
    right: 20px;
    z-index: 103;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    background-color: rgb(105, 161, 21);
}
.contact-help-icon i {
    margin: auto;
    display: none;
    padding: 12px;
}
.contact-help-icon i.active {
    display: flex;
}
.contact-help-desc {
    position: fixed;
    bottom: 84px;
    right: 48px;
    max-width: 300px;
    z-index: 103;
    background-color: rgb(105, 161, 21);
    opacity: 0;
}
.contact-help-desc.active {
    animation: contactHelpDesc ease .4s;
    opacity: 1;
}
.contact-help-desc p {
    padding: 54px 12px 12px;
    text-align: center;
}
.contact-help-menu {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 16px;
    font-size: 18px;
}
@keyframes contactHelpDesc {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes xoay{
    0% {
        transform: rotate(-30deg,30deg);
    }
    100% {
        transform: skew(30deg,-30deg);
    }
}
@keyframes chuyen{
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-hotline-content i {
    font-size: 12px;
}
.header-hotline-content span {
    font-weight: 600;
}
.header-hotline-number {
    font-size: 18px;
    font-weight: 700;
}
.header-like i {
    font-size: 12px;
}
.header-like a span {
    font-weight: 600;
}
.header-like a:hover {
    color: rgb(39, 74, 187);
}
.header-like > span {
    font-size: 11px;
}
.header-cart {
    position: relative;
}
.header-cart span {
    position: absolute;
    top: 2px;
    right: -2px;
    font-size: 10px;
}

/* Navbar */
.navbar {
    position: sticky !important;
    top: 0;
    font-size: 14px;
    background-color: #312783;
    padding: 0 !important;
    z-index: 104;
}
.nav-link.active {
    background-color: #4f45a5;
}
.nav-link {
    padding: 10px 8px !important;
    position: relative;
}
.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 18px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(131, 122, 122);
}

/* Sliders */
.sliders {
    overflow: hidden;
    position: relative;
}
.sliders:hover .slider-control {
    display: flex;
}
.slider-imgs {
    display: flex;
    transition: all 1s ease;
}
.slider-imgs img {
    width: 100%;
}
.slider-control {
    position: absolute;
    width: 100%;
    display: none;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
.slider-control i {
    font-size: 24px;
    cursor: pointer;
}

/* Content */
.national {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border: 1px solid rgb(214, 211, 211);
    overflow: hidden;
}
.national-content {
    flex-wrap: nowrap !important;
}
.national-heading-wrap {
    position: relative;
    display: flex;
    background-color: #e4e4e4;
    height: 40px;
}
.national-heading-name {
    position: relative;
    display: flex;
    height: 40px;
    line-height: 40px;
    background-color: #312783;
    font-size: 20px;
    font-weight: 600;
    border-top-left-radius: 5px;
    padding: 0 12px;
    margin-right: 100px;
    white-space: nowrap;
}
.national-heading-name a {
    padding: 0 12px;
}
.national-heading-name::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    border-width: 20px;
    border-style: solid;
    border-left-color: #312783;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.national-group-list {
    display: flex;
    align-items: center;
    margin: 4px 0;
    flex-basis: 0;
    flex-grow: 1;
    white-space: nowrap;
}
.national-group-list.active {
    position: absolute;
    display: block;
    right: 0;
    top: 100%;
    margin-right: 0!important;
    min-width: 320px;
    padding: 6px 4px 12px;
    margin: 0;
    box-shadow: 0 0px 3px rgba(0,0,0,0.5);
    animation: menuBlock ease 1s;
}
.national-group-list.active .national-group-item a{
    display: block;
    text-align: right;
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 2px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.1);
}
.national-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e4e4e4;
}
.national-menu i {
    font-size: 18px;
    color: #333;
    padding: 11px 14px;
    cursor: pointer;
}
.national-menu i:hover {
    color: royalblue;
}
.national-group-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-right: 4px;
    border-radius: 15px;
}
.national-item-wrap {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.national-item-wrap:hover {
    animation: nationalItem ease .3s;
    transform: translate(4px, -4px);
}
.national-group-item a {
    display: block;
    padding: 4px 10px;
    color: #584544;
}
.national-group-item a i {
    font-size: 14px;
}
.national-content {
    /* overflow-x: scroll; */
}
.national-item {
    display: flex;
}
.national-item.active {
    display: none;
    animation: fadeIn ease 1s;
}
.national-item-img {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 10px;
}
.national-item-img img {
    width: 90%;
    height: auto;
    object-fit: contain;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.national-item-link {
    color: #333 !important;
    line-height: 1.2rem;
    height: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.national-item-desc {
    padding: 12px;
}
.national-item-prices {
    margin: 12px 0 16px;
}
.national-item-prices p {
    margin-bottom: 0 ;
    color: red;
    font-size: 16px;
    font-weight: 600;
}
.national-item-prices span {
    color: rgba(0,0,0,0.3);
    font-size: 12px;
    font-weight: 500;
}
.national-item-more {
    color: #312783;
}
.national-control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.national-control i {
    background-color: rgba(0,0,0,0.05);
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}
.national-control i:hover {
    background-color: rgba(0,0,0,0.2);
}
.national-control i.active {
    color: #ccc;
    background-color: rgba(0,0,0,0.5);
    cursor: default;
}
.national-control i.active:hover {
    background-color: none;
}
@keyframes nationalItem {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(4px, -4px);
    }
}
/* About */
.about-content {

}
.about-content-big {

}
.about-big-img {

}
.about-big-img img {
    width: 100%;
    
}
.about-big-desc a{
    color: rgb(18, 18, 129);
    font-size: 18px;
    font-weight: 600;
}
.about-content-small {

}
.about-small-item {

}
.about-small-img {
    width: 33.33%;
}
.about-small-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-small-desc p {
    color: var(--text-color);
}
.about-small-desc p:hover {
    color: rgb(98, 79, 207);
}
.about-small-link {
    transition: all ease .5s;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.about-small-link:hover {
    transform: translateX(4px);
    transition: transform ease 0.3s;
}
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes menuBlock {
    0% {
        opacity: 0;
        transform-origin: top right;
    }
    100% {
        opacity: 1;
        transform-origin: bottom left;
    }
}

/* Footer */
.footer-content-item h2 {
    font-size: 16px;
    font-weight: 650;
    margin-bottom: 20px;
}
.footer-content {
    padding: 12px;
}
.footer-content-item {
    position: relative;
}
.footer-list {
    padding-left: 12px;
}
.footer-item-pay {
    padding: 0px 0px 15px;
}
.footer-item-link {
    position: relative;
    display: block;
    padding-bottom: 6px;
    color: var(--text-color);
}
.footer-item-link:hover {
    transform: translateX(4px);
    transition: transform ease 0.3s;
    color: rgb(98, 79, 207);
}
.footer-contact {   
    padding-left: 0;
    margin-bottom: 0!important;
}
.footer-contact-item {

}
.footer-contact-item a {
    display: block;
    padding-right: 12px;
    font-size: 25px;
    color: rgb(87, 211, 37);
}
.facebook-img img {
    width: 100%;
}
.facebook-img img:hover {
    transform: scale(1.1);
    transition: transform ease 0.5s;
}
.bocongthuong {
    position: absolute;
    left: 0;
}

/* Stores */
.stores-heading {
    background-color: red;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}
.store-heading {
    background-color: #0099ff;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 0;
}
.table {
    margin-bottom: 0!important;
}
.table h3 {
    font-size: 18px;
}
.table ul li {
    font-size: 15px;
    color: #514a4c;
}
.table ul li span {
    color: #333;
    font-weight: 650;
}
.table ul {
    list-style: initial;
}

/* Copyright */
.copyright {
    background-color: #006096;
}
.copyright-item {
    padding: 10px 0;
    font-size: 14px;
}
